.dino {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: url(t-rex.png);
  bottom: 0px;
}

.obstacle {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: url(cactus.png);
  bottom: 0;
}
